.dashboard {
  min-height: 100vh;
  background-color: #f8fafc;
  color: #0f172a;
}


/* Grid Layout */
.dashboardGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "topLeft topRight"
    "bottomWide bottomWide";
  gap: 1.5rem;
  padding: 2rem;
}
/* Card Base Style */
.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  min-height: 280px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}

.card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
}

.card p {
  font-size: 1.4rem;
  font-weight: 700;
  color: black;
}

/* Accent Borders */
.jobBox {
  border-left: 4px solid #38bdf8;
  grid-area: topLeft;
}

.stockBox {
  border-left: 4px solid #f87171;
  grid-area: topRight;
}

.inventoryBox {
  border-left: 4px solid #4ade80;
  grid-area: bottomWide;
  min-height: 350px;
}

.lowStock {
  color: #dc2626;
  font-weight: 600;
}

.MuiDataGrid-root {
  border: none;
}

.MuiDataGrid-columnHeaders {
  background-color: #f8fafc;
  border-bottom: 1px solid #e5e7eb;
}

.MuiDataGrid-cell {
  outline: none !important;
}